<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>edipost</name>
	<displayName><![CDATA[Edipost]]></displayName>
	<version><![CDATA[1.0.0]]></version>
	<description><![CDATA[Create and print shipping labels directly from an order using the Edipost shipping solution.]]></description>
	<author><![CDATA[Edipost]]></author>
	<tab><![CDATA[others]]></tab>
	<is_configurable>1</is_configurable>
	<need_instance>1</need_instance>
</module>
